<template name="profile_menu_left">
	<img style="width:100%;display:block;margin-bottom:1px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c21.21.259.259/s160x160/275188_793472619_1992574102_n.jpg"/>
	<div class="birim_menu">
		<ul class="nav">
			  <li class="active"<><a href="">Seen<i class=" icon-chevron-right"></i></a></li>
			  <li ><a href="">Watchlist<i class=" icon-chevron-right"></i></a></li>
			  <li ><a href="">Liked<i class=" icon-chevron-right"></i></a></li>
			  <li><a href="">Rated<i class=" icon-chevron-right"></i></a></li>
			  <li><a href="">To Rate<i class=" icon-chevron-right"></i></a></li>
			  <li><a href="">Followers<i class=" icon-chevron-right"></i></a></li>
			  <li><a href="">Following<i class=" icon-chevron-right"></i></a></li>
			  <li><a href="">Posts<i class=" icon-chevron-right"></i></a></li>
		</ul>
  </div>
</template>