<template name="tabgenre">
    <div class="filterbuttons" data-toggle="buttons-check">
        <button class="btn btn-info">ACTION</button>
        <button class="btn btn-info">ADVENTURE</button>
        <button class="btn btn-info">ANIMATION</button>
        <button class="btn btn-info">BIOGRAPHY</button>
        <button class="btn btn-info">COMEDY</button>
        <button class="btn btn-info">CRIME</button>
        <button class="btn btn-info">DOCUMENTARY</button>
        <button class="btn btn-info">DRAMA</button>
        <button class="btn btn-info">FAMILY</button>
        <button class="btn btn-info">FANTASY</button>
        <button class="btn btn-info">FILM-NOIR</button>
        <button class="btn btn-info">HISTORY</button>
        <button class="btn btn-info">HORROR</button>
        <button class="btn btn-info">MUSIC</button>
        <button class="btn btn-info">MUSICAL</button>
        <button class="btn btn-info">MYSTERY</button>
        <button class="btn btn-info">ROMANCE</button>
        <button class="btn btn-info">SCI-FI</button>
        <button class="btn btn-info">SPORT</button>
        <button class="btn btn-info">THRILLER</button>
        <button class="btn btn-info">WAR</button>
        <button class="btn btn-info">WESTERN</button>
    </div>
</template>
