<template name="explore_menu">

  <div class="birim_menu">
    <ul class="nav">
          <li><a href="">Theme<i class=" icon-chevron-right"></i></a></li>
          <li ><a href="">Audience<i class=" icon-chevron-right"></i></a></li>
          <li class="active"><a href="">Genre<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Period<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Place<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Year<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Rating<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Keyword<i class=" icon-chevron-right"></i></a></li>
		  
    
    </ul>
  </div>

</template>
