<template name="interact-group">
  

  <!--<div class ="well" style="box-shadow:0 0; width:auto !important;float:left;background:#f8f8f8;">-->
  <a class="interact" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Add to watchlist">
  <i class="icon-plus"></i> Add</a>
  <a class="interact" data-toggle="tooltip" rel="tooltip" data-placement="top" title="I watched this">
  <i class="icon-eye-open"></i> Seen</a>
  <a class=" interact disabled" data-toggle="tooltip" rel="tooltip" data-placement="top" title="Click to unlike" style="color:#5bb75b">
  <i class="icon-heart"></i> Liked</a>
  <a class=" interact" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Rate this movie">
  <i class="icon-star"></i> Rate</a>
  <a class=" interact" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Post about this movie">
  <i class="icon-pencil"></i> Post</a>
  <a class=" interact" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Watch trailer">
  <i class="icon-film"></i> Trailer</a>
  <a class=" interact" rel="tooltip" data-toggle="tooltip" data-placement="top" title="All about the movie">
  <i class="icon-th"></i> More</a>
  <!--</div>-->

</template>
