<template name="profile_summary">
<style>
	.profsum {
		float:left;	width:100%;
		padding:0;
		margin:0;
		font-family:'Open Sans Condensed', Arial;
		text-align:center;
		
	}
	.profsum .isim {
		background:#444;
		color:#eee;
		font-size:20px;
		text-align;center;
		margin-bottom:1px;
		float:left;
		width:92%;
		padding:4%;
		cursor:pointer;
		font-weight:bold;
	}
	.profsum .isim:hover {
		background:#222 !important;
		color:#fff;
	}
	.profsum ul {
		float:left;
		width:100%;
		list-style-type:none;
		padding:0;
		margin:0;
	}
	.profsum ul li {
		float:left;
		width:89px;
		margin:0px 0 1px;
		height:auto;

	}
	.profsum li:nth-child(3n+2) {
		margin:0px 1px 1px !important;
		width:90px !important;
	}

	.profsum ul li a {
		background:#49afcd !important;
		color:#E7FAFF;
		display:block;
		padding:10px;
		font-size:34px;
		height:70px;
		font-weight:bold;
		line-height:1.2;
		cursor:pointer;
		text-decoration:none !important;
	
	}
	.profsum ul li a:hover {
		background:#2f96b4 !important;
		color:#fff;
	}
	.profsum li:nth-child(5) a {
		padding:0;
	}
	.profsum ul li a span {
		display:block;
		font-size:16px;
		font-weight:normal;
	
	}
	
</style>

<div class="profsum">
	<div class="isim">Yavuz Süleyman Kirez</div>
	<ul>
		<li><a href="{{seenPath}}">227<span>SEEN</span></a></li>
		<li><a href="{{likedPath}}">68<span>LIKED</span></a></li>
		<li><a href="{{ratedPath}}">126<span>RATED</span></a></li>
		<li><a href="{{watchlistPath}}">8 in<span>WATCHLIST</span></a></li>
		<li><a href="{{feedPath}}"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c21.21.259.259/s160x160/275188_793472619_1992574102_n.jpg"/>
		

		</a ></li>
		<li ><a href="{{toratePath}}">45<span>TO RATE</span></a></li>
		<li><a href="{{postsPath}}">74<span>POSTS</span></a></li>
		<li><a href="{{followersPath}}">2071<span>FOLLOWERS</span></a></li>
		<li><a href="{{followingPath}}">67<span>FOLLOWING</span></a></li>
	</ul>
</div>

</template>
