<template name="profile_summary2">
<style>
  h3 {padding:0px !important;margin:0px !important;}
  .well {padding:5px 10px !important;}
  .birim_menu {
    width:100%;
    display:block;
    height:auto;
    margin:0px 0 20px;
  }
  .birim_menu ul {
    width:100%;
    display:block;
    margin:0;
  }  
  .birim_menu ul li {
    margin-bottom:-1px;
    list-style:none;
    width:100%;
    border:1px solid #ddd;
  }

  .birim_menu ul li a {
    display:block;
    padding:10px;
    text-decoration:none;
    
  }
  
  .birim_menu ul li:first-child {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
  .birim_menu ul li:last-child {
     -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .birim_menu ul li a:hover {
    background:#f5f5f5;
    color:#005580;
  }
  .birim_menu ul li a i {
    float:right;
  }
  .birim_menu .active a, .birim_menu .active a:hover {
    background-color: #0088cc !important;
    color:#fff;
  }
  .birim_menu .active {
    border:1px solid #0088cc !important;
  }
  .birim_menu ul li a img {
    margin-right:10px;
  }
  </style>
  <div class="birim_menu">
    <ul class="nav">
          <li class="active"><a href="">Theme<i class=" icon-chevron-right"></i></a></li>
          <li ><a href="">Audience<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Genre<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Period<i class=" icon-chevron-right"></i></a></li>
          <li><a href="">Place<i class=" icon-chevron-right"></i></a></li>
    
    </ul>
  </div>
<!-- 
  <div class="well">
    <h3>Live Feed</h3>
    <p>Ali Gürpınar liked <strong>Fight Club</strong> seconds ago</p>
    <p>Neil Armstrong disliked <strong>Apollo 13</strong> 1 minute ago</p>
  </div>
  <div class="well">
    <h3>Friends' Feed</h3>
    <p>Oytun Oktay liked <strong>Uzak</strong> 7 minutes ago</p>
    <p>Çağdaş Can disliked <strong>Stalker</strong> 12 hours ago</p>
    <p>Neşe Ordu Kirez checked "watched" <strong>Totoro</strong> 1 day ago</p>
    <p>Ceyhun Sezenoğlu added <strong>3 Idiots</strong> 2 weeks ago</p>
  </div>
-->
</template>
