<template name="single_movie_get">
  
  <div class="row-fluid birim_eleman" style="border-bottom:0 !important;">
    <div class="span3">
      <img src="posters/hobbit.jpg"/>
    </div>
    <div class="span9">
      
      <h2><a href="">The Hobbit: An Unexpected Journey&nbsp;<div class="year">2012</div></a></h2>
      <p>
        <span class="label label-warning imdbrating" rel="tooltip" data-toggle="tooltip" data-placement="top" title="IMDb Rating">
          8.1
        </span>
      
        <span class="label label-info">Adventure</span>
        <span class="label label-info">Fantasy</span> 
        <span class="label">169 min</span> 
        <span class="label">PG-13</span>
      </p>
      <p style="line-height:2.2;">
        <span class="label label-important">Peter Jackson <i class="icon-bullhorn icon-white"></i></span> 
        <span class="label label-gri">Ian McKellen</span> 
        <span class="label label-gri">Martin Freeman</span> 
        <span class="label label-gri">Richard Armitage</span> 
        <span class="label label-gri">Ken Stott</span> 
        <span class="label label-gri">Graham McTavish</span>
      </p>
      <p>
        A younger and more reluctant Hobbit, Bilbo Baggins, 
        sets out on an "unexpected journey" to the Lonely 
        Mountain with a spirited group of Dwarves to reclaim 
        their stolen mountain home from a dragon named Smaug.
      </p>

      <p class="pull-right interact-group" style="display:inherit !important;margin-top:5px !important;">{{> interact-group}}</p>

    </div>
  </div>

</template>
